<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-people"></i><span class="nav-text">Personel İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-mucis menu-icon"></i><span class="nav-text">Referans İşlemleri</span>
                </a>
            </li>
        </ul>
    </div>
</div>